<p>Dear {{ user.username }},</p>
<p>
    To reset your password <a href="{{ url_for('reset_password', token=token, _external=True) }}">Click Here</a>.
</p>
<p>Alternatively, you can paste the following url in your browser's address bar:</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>If you have not requested a password reset, you can simply ignore this message.</p>
<p>Sincerely,</p>
<p>The Microblog Team</p>