{% extends "base.html" %}

{% block content %}
<h1>Reset Password</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br />
        {{ form.email(size=64) }}<br />
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
<p>{{ form.submit() }}</p>
</form>
{% endblock %}